.buttonChangePage {
    display: flex;
    justify-content: center;
    align-items: center;
    // background-color:red;
    margin-bottom: 50px;
    position: relative;

}

.showPage {
    text-align: center;
    padding-bottom: 15px;
    font-weight: 600;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.458)
}

.products {
    width: 90%;
    margin-top: 80px;




}