.containerConfigProduct {
    width: 100%;
    height: 1000px;
    margin-top: 200px;
    background-color: pink;

    a {
        font-size: 15px;
        color: black;
        padding: 10px 20px;
        background-color: red;
    }
}